body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-auto-rows: 1fr;
    grid-gap: 5px;
    height: 100vh;
    width: 100vh;
}

.cell {
    background-color: royalblue;
}

.cell:hover {
    background-color: indigo;
}
