body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 2px;
    height: 100vh;
    width: 100vh;
}
